*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.mp3 binary
*.wav binary
